{% extends 'layout.html' %}
{% load url from future %}

{% block title %}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Remote {{ remote.name }}</h1>
</div>

<ul class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'projects' %}">Projects</a></li>
	<li><a href="{% url 'project' name=project.name %}">{{ project.name }}</a></li>
	<li><a href="{% url 'project_remotes' project=project.name %}">Remotes</a></li>
	<li class="active">Remote</li>
</ul>

<table class="table table-striped table-condensed">
	<tr>
		<th scope="row">Name</th>
		<td>{{ remote.name }}</td>
	</tr>
	<tr>
		<th scope="row">URL</th>
		<td>{{ remote.url }}</td>
	</tr>
	<tr>
		<th scope="row">User</th>
		<td><a href="#">{{ remote.user.username }}</a></td>
</table>

<form action="{% url 'remote_fetch' project=project.name ID=remote.name %}?fromui=1" method="POST">
<input type="submit" value="Fetch" class="btn btn-inverse">
</form>

{% endblock %}