{% extends 'chunk:layout' %}
{% load url from future %}
{% load contextmutate %}
{% block page %}

{% withtable table %}
{% appendto table.headers %}Name{% endappendto %}
{% appendto table.headers %}Project{% endappendto %}
{% appendto table.headers %}URL{% endappendto %}
{% for remote in remotes %}
	{% appendto table.rows as row %}
		{% appendto row %}<a href="{% url 'remote' project=remote.project.name ID=remote.name %}">{{ remote.name }}</a>{% endappendto %}
		{% appendto row %}<a href="{% url 'project' name=remote.project.name %}">{{ remote.project.name }}</a>{% endappendto %}
		{% appendto row %}{{ remote.url }}{% endappendto %}
	{% endappendto %}
{% endfor %}
{% include 'chunk:table:list' with table=table only %}
{% endwithtable %}

{% endblock %}