{% extends 'GarethBundle:Settings:layout.html.twig' %}

{% block title %}Settings{% endblock %}

{% block page %}

<table>
	<tr>
		<th scope="row">Username</th>
		<td>{{ user.username }}</td>
	</tr>
</table>

{% endblock %}