{% extends 'layout.html' %}
{% load url from future %}

{% block title %}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Project {{ project.name }}</h1>
</div>

<ul class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'projects' %}">Projects</a></li>
	<li class="active">{{ project.name }}</li>
</ul>

<ul class="nav nav-tabs">
	<li><a href="{% url 'project_remotes' project=project.name %}">Remotes</a></li>
{% if user.rights.contributor %}
	<li><a href="{% url 'remote_create' project=project.name %}">Add remote</a></li>
{% endif %}
</ul>

{% block page %}{% endblock %}

{% endblock %}