{% extends 'chunk:layout' %}
{% load url from future %}
{% load contextmutate %}
{% block page %}

{% if remote.fetchstate %}
	{% with state=remote.fetchstate %}
		{% if state.is_completed %}
			{% if state.is_finished %}
				<div class="alert alert-info">
					Last fetch finished at {{ state.completed_at }}.
				</div>
			{% else %}
				<div class="alert alert-error">
					Last remote fetch failed.
				</div>
			{% endif %}
		{% else %}
			<div class="alert alert-info alert-block">
				<p>Remote fetch currently running. Started at {{ state.started_at }}.</p>
				
				<div class="progress progress-striped">
					<div class="bar" style="width: {{ state.progress }}%;"></div>
				</div>
			</div>
		{% endif %}
	{% endwith %}
{% else %}
	<div class="alert">
		This remote has not yet been fetched.
	</div>
{% endif %}

{% withtable @kv table %}
{% appendto table as @h row %}
	{% set row.key %}Name{% endset %}
	{% set row.value %}{{ remote.name }}{% endset %}
{% endappendto %}
{% appendto table as @h row %}
	{% set row.key %}URL{% endset %}
	{% set row.value %}{{ remote.url }}{% endset %}
{% endappendto %}
{% appendto table as @h row %}
	{% set row.key %}User{% endset %}
	{% set row.value %}<a href="{{ remote.user.get_absolute_url }}">{{ remote.user.username }}</a>{% endset %}
{% endappendto %}
{% appendto table as @h row %}
	{% set row.key %}Branches{% endset %}
	{% set row.value %}
		<ul>
		{% for branch in remote.branches %}
			<li>{{ branch }}</li>
		{% endfor %}
		</ul>
	{% endset %}
{% endappendto %}
{% include 'chunk:table:keyvalue' with table=table only %}
{% endwithtable %}

{% endblock %}