
@mixin rounded($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin background-gradient($from, $to) {
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));   
	background-image: -webkit-linear-gradient(top, $from, $to);   
	background-image:    -moz-linear-gradient(top, $from, $to);   
	background-image:     -ms-linear-gradient(top, $from, $to);   
	background-image:      -o-linear-gradient(top, $from, $to);   
	background-image:         linear-gradient(to bottom, $from, $to);
}

@mixin square($size) {
	width: $size;
	height: $size;
}