{% extends 'settings/layout.html' %}
{% load url from future %}

{% block title %}Settings{% endblock %}

{% block page %}

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="1" scope="rowgroup">Confirmed</th>
		</tr>
{% for identity in identities %}
		<tr>
			<td>{{ identity.email }}</td>
		</tr>
{% endfor %}
	</tbody>
	<tbody>
		<tr>
			<th colspan="1" scope="rowgroup">Unconfirmed</th>
		</tr>
{% for identity in unconfirmed_identities %}
		<tr>
			<td>{{ identity.email }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<form action="{% url 'identities' %}" method="post" class="well form-vertical">
	{% csrf_token %}
	{{ add_form.as_p }}

	<input type="submit" value="Register new email" class="btn btn-primary">
</form>

{% endblock %}